*.mo
*.bak
*.pyc
*_32.png
.~*
docs/
venv/
migrations
messages.pot
config/config.py
webapp/static/translations/*json
importTextToTranslate.txt
webapp/static/images/dependencies.png
webapp/static/images/dependencies.svg
