alembic==1.4.3
argh==0.27.2
arrow==1.2.3
attrs==22.2.0
Babel==2.11.0
bcrypt==4.0.1
click==8.0.4
Flask==1.0.2
Flask-Admin==1.5.3
Flask-Babel==0.11.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Migrate==2.3.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.7.1
Flask-WTF==0.14.2
graphviz==0.8.4
importlib-metadata==4.8.3
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
overpy==0.4
packaging==21.3
Pillow==5.2.0
pluggy==1.0.0
pojson==0.3
polib==1.2.0
psycopg2==2.7.5
py==1.11.0
pyparsing==3.1.4
pytest==7.0.1
python-dateutil==2.9.0.post0
python-editor==1.0.4
pytz==2025.2
redis==2.10.6
rq==0.11.0
rq-dashboard==0.3.6
simplejson==3.20.2
six==1.17.0
SQLAlchemy==1.2.11
tomli==1.2.3
typing_extensions==4.1.1
Werkzeug==3.0.6
WTForms==2.2.1
zipp==3.6.0