<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <link rel="stylesheet" href="{{ url_for('static',filename='style/bulma.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='style/fontawesome-all.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='style/style.css') }}" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>

<body>
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile is-4 is-parent is-vertical">
        <div class="tile is-child box notification is-purple">
          <a href="/"><h1 class="title">{{ gettext("#Wustopia")}}</h1></a>
          <div class="tabs">
            <ul>
              <li class="is-active">{{ gettext("#Wustopia is ...") }}</li>
            </ul>
          </div>
        </div>
        {% if not current_user.is_authenticated %}
          <div class="tile is-child box notification is-turquoise">
            <div class="tabs">
              <ul>
                <li class="is-active">{{ gettext("#Login") }}</li>
              </ul>
            </div>
            <form method="POST" action="/user/login">
              {{ UserLoginForm.hidden_tag() }}
              <div class="field">
                {{ UserLoginForm.username.label(class_="label") }}
                <div class="control has-icons-left">
                  {{ UserLoginForm.username(class_="input") }}
                  <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                </div>
              </div>
              <div class="field">
                {{ UserLoginForm.password.label(class_="label") }}
                <div class="control has-icons-left">
                  {{ UserLoginForm.password(class_="input") }}
                  <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                </div>
              </div>
              <input class="button is-dark" type="submit" value="{{ gettext("#Login") }}" />
            </form>
          </div>
          <div class="tile is-child box notification is-turquoise">
            <div class="tabs">
              <ul>
                <li class="is-active">{{ gettext("#Demo") }}</li>
              </ul>
            </div>
            <form method="POST" action="/demo">
              <input class="button is-dark" type="submit" value="{{ gettext("#Create") }}" />
            </form>
          </div>
          <div class="tile is-child box notification is-turquoise">
            <div class="tabs">
              <ul>
                <li class="is-active">{{ gettext("#Create") }}</li>
              </ul>
            </div>
            <form method="POST" action="/user/create">
              {{ UserCreateForm.hidden_tag() }}
              <div class="field">
                {{ UserCreateForm.username.label(class_="label") }}
                <div class="control has-icons-left">
                  {{ UserCreateForm.username(class_="input") }}
                  <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                </div>
              </div>
              <div class="field">
                {{ UserCreateForm.email.label(class_="label") }}
                <div class="control has-icons-left">
                  {{ UserCreateForm.email(class_="input") }}
                  <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                </div>
              </div>
              <div class="field">
                {{ UserCreateForm.password.label(class_="label") }}
                <div class="control has-icons-left">
                  {{ UserCreateForm.password(class_="input") }}
                  <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                </div>
              </div>
              <input class="button is-dark" type="submit" value="{{ gettext("#Create") }}" />
            </form>
          </div>
        {% else %}
          <div class="tile is-child box notification is-turquoise">
            <div class="tabs">
                <ul>
                  <li class="is-active">{{ gettext("#Hi") }} {{ current_user.username }}!</li>
                </ul>
                <a href="/user/logout">{{ gettext("#Logout") }}</a>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="tile is-parent ">
        <div class="tile is-child box notification is-ocher">
{% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>


  <footer class="footer">
    <a href="https://github.com/devtal-de/wustopia">{{ gettext("#Source") }}</a>
    <a href="/imprint">{{ gettext("#Impressum") }}</a>
  </footer>
</body>

</html>
