{% extends "base.html" %} {% block title %}Help | {{slug}}{% endblock %} {% block head %} {{ super() }}

{% endblock %} {% block content %}

<h1 class="title">{{slug}}</h1>

Costs
<table class="table">
  <thead>
    <tr>
      <th>
        Level
      </th>
      <th>
        Time
      </th>
      <th>
        Resources
      </th>
    </tr>
  </thead>
  <tbody>
  {% for data in costs %}
    <tr>
      <td>
        {{ data.BuildCost.level }}
      </td>
      <td>
        {{ data.BuildCost.time }}
      </td>
      <td>
        <img src="{{ data.Resource.image }}" alt="{{ data.Resource.name }}"> {{ data.BuildCostResource.amount }}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

Benefit
<table class="table">
  <thead>
    <tr>
      <th>
        Level
      </th>
      <th>
        Interval
      </th>
      <th>
        Resources
      </th>
    </tr>
  </thead>
  <tbody>
  {% for data in benefit %}
    <tr>
      <td>
        {{ data.PlaceCategoryBenefit.level }}
      </td>
      <td>
        {{ data.PlaceCategoryBenefit.interval }}
      </td>
      <td>
        <img src="{{ data.Resource.image }}" alt="{{ data.Resource.name }}"> {{ data.PlaceCategoryBenefit.amount }}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
