{% extends "base.html" %} {% block title %}{{ gettext("#Help")}}{% endblock %} {% block head %} {{ super() }}

{% endblock %} {% block content %}


<h1 class="title">{{ gettext("#Help")}}</h1>

<a href="/static/images/dependencies.svg">
<img src="/static/images/dependencies.png" style="width:auto; height: auto">
</a>

{% for data in PlaceCategory %}
  <a href="help/building/{{ data.id }}-{{ gettext("#"+data.name) | replace(' ', '_') }}">{{ gettext("#"+data.name)}}</a><br>
{% endfor %}

{% endblock %}
