{% extends "base.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }}

{% endblock %} {% block content %}

<h1>Wustopia</h1>

Login
		<form method="POST" action="/user/login">
			{{ UserLoginForm.hidden_tag() }}
			{{ UserLoginForm.username.label }} {{ UserLoginForm.username() }}<br/>
			{{ UserLoginForm.password.label }} {{ UserLoginForm.password() }}<br/>
			<input type="submit" value="login">
		</form>
		Create
		<form method="POST" action="/user/create">
			{{ UserCreateForm.hidden_tag() }}
			{{ UserCreateForm.username.label }} {{ UserCreateForm.username() }}<br/>
			{{ UserCreateForm.email.label }} {{ UserCreateForm.email() }}<br/>
			{{ UserCreateForm.password.label }} {{ UserCreateForm.password() }}<br/>
			<input type="submit" value="create">
		</form>
    
{% endblock %}
