<!DOCTYPE html>
<html lang="en">

<head>
  <style type="text/css">
    .important {
      color: #336699;
    }
  </style>
  <link rel="stylesheet" href="{{ url_for('static',filename='style/leaflet.css') }}" />
  <script src="{{ url_for('static',filename='javascript/leaflet-src.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='style/bulma.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style/font-awesome.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/leaflet.awesome-markers.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/leaflet.marker.highlight.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
  <link rel="gettext" type="application/json" href="{{ url_for('static', filename='translations/' + locale_select() + '.json' ) }}">
  <script src="{{ url_for('static', filename='javascript/leaflet.awesome-markers.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/leaflet.marker.highlight.js') }}"></script>
  <script src="{{ url_for('static',filename='javascript/jquery-3.2.1.js') }}"></script>
  <script src="{{ url_for('static',filename='javascript/gettext.js') }}"></script>
  <script src="{{ url_for('static',filename='javascript/application.js') }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=.7, user-scalable=no">
</head>

<body>
  <div id="menu">
    <div id="resources" class="menu"></div>
    <div id="logout" class="menu">
      <a href="/achievements">{{ gettext("#Achievements")}}</a>
      <a href="/ranking">{{ gettext("#Ranking")}}</a>
      <a id="collect_all" href="#">{{ gettext("#collect all")}}</a> {% if current_user.is_authenticated %} ({{ current_user.username }}) {% endif %}
      <a href="/user/logout">{{ gettext("#Logout")}} </a>
    </div>
  </div>
  <div id="map"></div>
  <audio id="audio_build" preload="auto">
    <!-- CC BY 3.0 https://freesound.org/people/LittleRobotSoundFactory/sounds/316173/ -->
    <source src="{{ url_for('static',filename='sounds/build.wav') }}" type="audio/wav">
  </audio>
  <audio id="audio_earn" preload="auto">
    <!-- CC BY-NC 3.0 https://freesound.org/people/pierrecartoons1979/sounds/90121/ -->
    <source src="{{ url_for('static',filename='sounds/earn.wav') }}" type="audio/wav">
  </audio>
  <audio id="audio_error" preload="auto">
    <!-- CC0 1.0 https://freesound.org/people/fins/sounds/171526/ -->
    <source src="{{ url_for('static',filename='sounds/error.wav') }}" type="audio/wav">
  </audio>
</body>

</html>
