{% extends "base.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
<link rel="stylesheet" href="{{ url_for('static',filename='style/leaflet.css') }}" />
<script src="{{ url_for('static',filename='javascript/leaflet.js') }}"></script>
{% endblock %} {% block content %}
<div id="menu">
    <div id="user" class="menu"></div>
    <div id="resources" class="menu"></div>
    <div id="logout" class="menu">
      {% if current_user.is_authenticated %}
        ({{ current_user.username }})
      {% endif %}
      <a href="/user/logout">Logout</a>
    </div>
</div>
<div id="map"></div>
<script src="{{ url_for('static',filename='javascript/jquery-3.1.1.min.js') }}"></script>
<script>
    var user = '';
</script>
<script src="{{ url_for('static',filename='javascript/application.js') }}"></script>
<script src="/places">
</script>
{% endblock %}
