{% extends "base.html" %} {% block title %}Ranking | {{ gettext("#"+placecategory.name)}}{% endblock %} {% block head %} {{ super() }}

{% endblock %} {% block content %}

<h1 class="title">{{ gettext("#"+placecategory.name)}}</h1>

<table class="table">
  <thead>
    <tr>
      <th>
        {{ gettext("#Position") }}
      </th>
      <th>
        {{ gettext("#User") }}
      </th>
      <th>
        {{ gettext("#Buildings") }}
      </th>
    </tr>
  </thead>
  <tbody>
  {% for data in ranking %}
    <tr>
      <td>
        {{ loop.index }}
      </td>
      <td>
        {{ data.User.username }}
      </td>
      <td>
        {{ data.count }}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
